body{
    background-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: darkblue;
    background-color:whitesmoke;
    text-align: center;

}

h2{
    color: darkmagenta;
    text-align: center;
}

h3{
    color: navy;
    background-color:whitesmoke;
    text-align: center;
}

h4{
    color: black;
    text-align: center;
}

#wrap{
    width: 960px;
    margin: auto;
    padding: 10px 20px;
}